<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="/javascript/main.js"></script>
    <link rel="stylesheet" href="/css/style.css">

    <title>Chat-App</title>
</head>

<body>
    <nav class="navBar">
        <img class="logo" src="/images/logo.png" alt="Logo">
        <h1>Welcome to chat-App</h1>
    </nav>

    <b>
        
    <div class="container">
        <!-- <div class="message  right">He:Helloo</div>
        <div class="message  left">She: Hyy</div> -->
        <center>
            <h2 style="background-color: rgb(86, 187, 86);">Let's have fun guys!!!</h2>
        </center>
    </div>
    </b>

    <div class="send-container">
        <form action="#" id="send-form">
            <input type="text" id="msgInput" name="msgInput" placeholder="Type a message!!!" required>
            <button class="btn">Send</button>
        </form>
    </div>

</body>

</html>